* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, monospace;
}

body {
    background-color: #0b3954;
    color: #bfd7ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #ff5a5f;
    color: #c81d25;
}

nav ul {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #087e8b;
    /* border-bottom: 1px black solid; */
}

#welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

@media (min-width: 28.75em) {
    nav {
        justify-content: center;
    }

    nav ul {
        margin: 0 1rem;
    }

}

#project-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

img {
    width: 300px;
    height: auto;
}
